/* your code */
table{
	width:1000px;
	margin:100px auto;
	border-collapse: collapse;
}
table thead{
	background-color:#215A8E;
	color:#fff;
}
th,td {
        padding: 16px 24px;
        text-align: left;
      }

      tbody tr:nth-child(odd) {
        background-color: #f8f9fa;
      }

      tbody tr:nth-child(even) {
        background-color: #e9ecef;
      }